/* Garante que a página não tenha rolagem horizontal */
body {
    overflow-x: hidden; /* Remove a rolagem horizontal */
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #c0bfbf;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #3498db;
    text-decoration: none;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; /* Evita quebra de linha dentro das células */
    overflow: hidden; /* Corta o conteúdo que excede a largura */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao texto cortado */
    max-width: 150px; /* Define um limite de largura para as células */
}

td:hover::after {
    content: attr(data-tooltip); /* Pega o conteúdo do atributo data-tooltip */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
}

a:hover {
    text-decoration: underline;
}

.actions a {
    margin-right: 10px;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav div {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

nav a:not(:last-child)::after {
    color: white;
    margin: 0 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    color: #fff;
    padding: 20px;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
}
